body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Imagem local */
  background-image: url('sapo.webp');  /* o nome do arquivo da sua imagem */
  background-size: cover;        /* cobre toda a tela */
  background-position: center;   /* centraliza a imagem */
  background-repeat: no-repeat;  /* não repete */

  font-family: 'Arial', sans-serif;
  text-align: center;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(123, 44, 191, 0.3); /* roxo transparente */
  z-index: 0;
}

body > * {
  position: relative;
  z-index: 1; /* garante que o conteúdo fique na frente */
}
